.Conteiner-Nav {
    width: 1140px;
   color: #eee;
  margin: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
 position: relative;
  margin: auto;
  height: 50px;
   max-width: 80%; 
z-index: 100;
  

}
.Link-Nav {
  text-decoration: none;
  color: #eee;
  margin-right: 40px;
  
}
